<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" menuId="first">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Search Summoner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-header>
        <ion-card-title>Search a summoner</ion-card-title>
      </ion-card-header>
      <ion-searchbar [(ngModel)]="search" (change)="getSearch($event);"></ion-searchbar>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let match of matchList">
    <ion-card-header>
      Match id:{{match.gameId}}
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                Match lane:
              </ion-label>
              <p>{{match.lane}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                Match queue:
              </ion-label>
              <p>{{match.queue}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                Match role:
              </ion-label>
              <p>{{match.role}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                Season:
              </ion-label>
              <p>{{match.season}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>
                Match lane:
              </ion-label>
              <p>{{match.timestamp | date}}</p>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>