<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/search"></ion-back-button>
    </ion-buttons>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-grid>
    <ion-list>
      <ion-row> -->
  <ion-card>
    <ion-card-content class="card-content">

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" minLength="6" [(ngModel)]="password"></ion-input>
      </ion-item>


      <ion-button type="button" color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">
        Switch to {{ isLogin ? 'Signup' : 'Login' }}
      </ion-button>

      <ion-button type="submit" expand="block">{{ isLogin ? 'Login' : 'Signup' }}</ion-button>
    </ion-card-content>
  </ion-card>
  <!-- </ion-row>

    </ion-list>
  </ion-grid> -->
</ion-content>