<ion-header>
  <ion-toolbar>
    <ion-title>Champion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-thumbnail>
            <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg">
          </ion-thumbnail>
          <ion-label slot="end">Aattrox</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/passive/Anivia_P.png ">
          </ion-thumbnail>
          <ion-label slot="end">Anivia passive</ion-label>
        </ion-item>

        <ion-item>
          <ion-thumbnail>
            <img src="http://ddragon.leagueoflegends.com/cdn/6.24.1/img/profileicon/588.png ">
          </ion-thumbnail>
          <ion-label slot="end">Profile Icon 588</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>